:root {
    /* Base colors */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-whitesmoke: #f5f5f5;
    --color-transparent: transparent;
    
    /* Brand/Accent colors */
    --color-primary: #85071c;
    
    /* Background colors */
    --color-beige: beige;
    --color-antiquewhite: antiquewhite;
    
    /* Overlay colors */
    --color-overlay-dark: #0006;
    --color-overlay-medium: #0004;
    --color-overlay-light: #0002;
    --color-overlay-black: #022a;
    
    /* font colors */
    --active-button-font: #842;

    /* Opacity variants */
    --opacity-80: 0.8;
    --opacity-50: 0.5;
  }
  
