@import url(color.css);


@media screen and (max-width: 768px){

    .nav-item li:hover {
        color: var(--color-primary);
    }
    

    header {
        display: flex;
        background-color: var(--color-whitesmoke);
        position: fixed;
        top: 0;
        width: 100%;
        min-height: 100px;
        z-index: 20;
    }

    #nav-check{
        position: absolute;
    }

    .nav-button{
        display: flex;
        position: absolute;
        font-size: 50px;
        right: 20px;
        top:15px;
        z-index: 100;
    }
    
    .wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        width: 100%;
        
    }

    #nav-check:checked ~ .upper-header>.logo {
        display: flex;
        

    } 
    
    #nav-check:checked ~ .upper-header> .social-and-logs{
        display: flex;
    
    }       
    #nav-check:checked ~ .upper-header> .browser{
        display: flex;
    
    }    

    #nav-check:checked ~ .low-header {
        display: flex;
    
    }    
        
    
    /* UPPER HEADER */
    /*====================================*/
    
    .upper-header {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin: 0;
        bottom: 0;
        z-index: 30;
    }
    
    .browser {
        display: flex;
        position: absolute;    
        width: 20%;
        height: 35px;
        margin: 0px 30px;
        top: 70px;
        display: none;
        transition: all .6 ease-in-out;

    }
    
    .browser input {
        border: 0;
        width: 100%;
        font-size: 16px;
        border-bottom: 1px solid var(--color-black); 
        background-color: var(--color-whitesmoke);
    }
    
    .browser input:focus {
        border-bottom: 3px solid var(--color-black);
        outline: none;
    }
    
    .logo {
        padding: 20px;
        position: absolute;
        left: 20px;
        top: 0;

    }
    
    .logo>a>img {
        width: 100px;
    }
    
    .social-and-logs {
        display: flex;
        position: absolute;
        padding: 20px 50px;
        bottom: 0;
        display: none;
        transition: all .6 ease-in-out;

    }
    
    .socials {
        display: flex;
        bottom: 0;
        gap: 15px;
        margin-right: 50px;
        align-items: center;
    }
    
    .socials>a>img {
        width: 16px;
    }
    
    .log-shop {
        display: flex;
        gap: 15px;
        align-items: center;
    }
    
    .log-shop>div>a>img {
        width: 22px;
    }
    
    /* LOW HEADER */
    /*====================================*/
    
    .low-header {
        display: flex;
        position: relative;
        width: 100%;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        display: none;
    }
    
    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        margin: 100px 0px;
    }
    
    .nav-item {
        display: flex;
        margin: 40px;
        text-decoration: none;
        z-index: 50;
    }
    
    .nav-item li {
        list-style: none;
        color: var(--color-black);
    }
    
    .nav-item li:hover {
        color: var(--color-primary);
    }
    

}