@import url("./color.css");
@import url("./modules/desktop/header/header.css");
@import url("./modules/desktop/body/body.css");
@import url("./modules/desktop/footer/footer.css");
@import url("./modules/mobile/tablets/footer/footer-responsive.css");
@import url("./modules/mobile/tablets/header/m_nav_button.css");

/* Mueve las variables al inicio del archivo */

html{
    min-width: 100% !important;    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Updated */
.nav-item li:hover {
    color: var(--color-primary);
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    display: block;    
}


