@media screen and (max-width: 770px){
    .categories-sect {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .categorie {
        margin: 4% 0px;
        max-width: 400px;
        

    }

} 