@import url("upper_header.css");
@import url("lower_header.css");

/*////////////////////////////////////////////////*/
/* HEADER */
/*////////////////////////////////////////////////*/

header {
    display: flex;
    flex-direction: column;
    background-color: var(--color-whitesmoke);    
    position: fixed;
    width: 100%;
    z-index: 20;
    transition: transform 0.3s ease-in-out;
}

.header--hidden {
    transform: translateY(-100%);
}

#nav-check, .nav-button{
    display: none;
}

/* .wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
} */



