/* LOW HEADER */
/*====================================*/

.low-header {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
}

.nav-bar {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.nav-item {
    display: flex;
    margin: 40px;
    text-decoration: none;
}

.nav-item li {
    list-style: none;
    color: var(--color-black);
}

.nav-item li:hover {
    color: var(--color-primary);
}