/* UPPER HEADER */
/*====================================*/

.upper-header {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}


/* BROWSER */

.browser {
    display: flex;    
    width: 20%;
    height: 35px;
    margin: 0px 30px;
}

.browser input {
    border: 0;
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid var(--color-black); 
    background-color: var(--color-whitesmoke);
}

.browser input:focus {
    border-bottom: 3px solid var(--color-black);
    outline: none;
}

/* LOGO */

.logo {
    padding: 20px;
}

.logo>a>img {
    width: 100px;
}

.social-and-logs {
    display: flex;
    position: relative;
    padding: 20px 50px;
}

/* SOCIALS */

.socials {
    display: flex;
    gap: 15px;
    margin-right: 50px;
    align-items: center;
}

.socials>a>img {
    width: 16px;
}

.log-shop {
    display: flex;
    gap: 15px;
    align-items: center;
}

.log-shop>div>a>img {
    width: 22px;
}