@import url("./header/m_upper_header.css");
@import url("./header/m_lower_header.css");
@import url("./body/m-banners.css");
@import url("./body/m-categories.css");
@import url("./body/m-about.css");


@media screen and (max-width: 770px){



    .nav-item li:hover {
        color: var(--color-primary);
    }

    body{
        
        min-width: 100%;
    }

    header {
        display: flex;
        background-color: var(--color-whitesmoke);
        position: fixed;
        top: 0;
        width: 100%;
        min-height: 100px;
        z-index: 20;
    }

    #nav-check{
        position: absolute;
    }

    .nav-button{
        display: flex;
        position: absolute;
        font-size: 50px;
        right: 20px;
        top:15px;
        z-index: 100;
    }
    
    /* .wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        width: 100%;
        
    } */

    #nav-check:checked ~ .upper-header>.logo {
        display: flex;
        

    } 
    
    #nav-check:checked ~ .upper-header> .social-and-logs{
        display: flex;
    
    }       
    #nav-check:checked ~ .upper-header> .browser{
        display: flex;
    
    }    

    #nav-check:checked ~ .low-header {
        display: flex;
    
    }    
        
}
